
<div class="jb-window-frame" draggable="true" style="top:@Top; left:@Left; height:@Height; width:@Width;">
    <JBWindowCaption Text="@Caption"></JBWindowCaption>
    <JBWindowBody>@ChildContent</JBWindowBody>
    <JBWindowStatusline></JBWindowStatusline>
      
</div>