@page "/"

<PageTitle>Index</PageTitle>

<!--
    <JBDesktop BackgroundImage="./images/windows_xp_bliss-wide.webp">
-->
<JBDesktop BackgroundImage="./images/windows_xp_bliss-wide.webp">
    <JBWindow Caption="Window 1" Top="10px" Left="10px" Width="350px" Height="250px" >
        <h1>Counter</h1>

        <p role="status">Current count: @currentCount</p>

        <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
    </JBWindow>

    <JBWindow Caption="Window 2" Top="250px" Left="150px" Width="350px" Height="250px">
        <h1>Counter</h1>

        <p role="status">Current count: @currentCount</p>

        <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
    </JBWindow>

</JBDesktop>


@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}